.container.certificates_container {
    width: 40%;
    padding-bottom: 2rem;
}

/* section > h5 {
    padding-top: 6rem;
} */

#certification h2 {
    font-weight: 800;
    font-size: 2.4rem;
    text-shadow: 6px 12px 5px black;
}

.certificates {
    /* background: var(--color-bg-variant); */
    text-align: center;
    padding: 0 2rem;
    border-radius: 1rem;
    user-select: none;
}

.my__certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 50rem;
    overflow-y: hidden;
    padding: 1rem 2rem 4rem;
    margin-left: 18%;
    
}

.certificate__org {
    color: moccasin;
    font-size: 1.4rem;
}

/*============================== MEDIA QUERIES FOR TABLETS ==============================*/
@media screen and (max-width: 1024px) {
    .container.certificates_container {
        width: 60%;
    }

    .certificates {
        margin-top: -8rem;
    }

    .my__certificate {
        width: 60rem;
        padding: 0 8rem;
        margin-left: -25%;
        
    }

    .my__certificate img {
        border-radius: 0.8rem;
        padding: 0 4rem;
    }

    .certificate__org {
        color: moccasin;
        font-size: 1.6rem;
        margin-top: -6rem;
    }
}

/*============================== MEDIA QUERIES FOR MOBILES ==============================*/
@media screen and (max-width: 600px) {
    .container.certificates_container {
        width: var(--container-width-sm);
    }

    #certification h2 {
        font-weight: 600;
        font-size: 1.5rem;
        text-shadow: 6px 10px 5px black;
    }

    .certificates {
        margin-top: -16rem;
    }

    .my__certificate {
        width: 50rem;
        padding: 0 8rem;
        margin-left: -88%;
        
    }

    .my__certificate img {
        border-radius: 0.8rem;
        padding: 4rem 9rem;
    }

    .certificate__org {
        color: moccasin;
        font-size: 1rem;

        margin-top: -15rem;
    }
}