 /*header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;

     background: rgb(55, 42, 42);
}*/

.main {
    width: 100%;
    height: 100vh;
}

/*.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; 
}*/

video {
    width: 100%;
    height:100vh;
    object-fit: cover;
    /* opacity: 0.2; */
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.content h5 {
    color: moccasin;
    margin-bottom: 20;
    margin-left: 15rem;
    text-align: center;
    font-size: 2rem;
}

.typo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 6rem;
    padding: 4rem 6rem 4rem 6rem;
    /* border: 1px solid #fff; */
    /* width: 100%; */
}

.typo span {
    font-size: 6rem;
}

.main .resume {
    display: block;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 22rem;
    box-sizing: border-box;
    border: 2.8px solid #ffff;
    border-radius: 0.4rem;
    /* padding: 2rem; */

    transform: translateX(-11%);
}

.main .resume a {
    /* border: 2px solid #fff; */
    color: gold;
    /* border-radius: 0.2rem; */
    background: transparent;
    font-size: 1rem;

    font-weight: 500;
}

.resume .btn {
    padding: 0.8rem 1.2rem;
}

.main .resume a:hover {
    color: moccasin;
}



/*==== SCROLL DOWN BUTTON ==== */
.scroll_down {
    height: 60px;
    width: 30px;
    border: 2.5px solid powderblue;
    position: absolute;

    transform: translateX(-50%);
    bottom: 12rem;
    border-radius: 50px;
    cursor: pointer;
    padding: 1.8rem 0.9rem;
}

.scroll_down::before,
.scroll_down::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid moccasin;
    height: 10px;
    width: 10px;

    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll_down::after {
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.6;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 85%; 
    }
}

.scroll_down a {
    color: red;
    font-size: 3.4rem;
    margin-left: -0.3rem;
    cursor: pointer;
}



/*-----------------CALL_TO_ACTION-------------------*/
/*.ctoa {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}*/

/*-----------------Header_Socials_ICONS-------------------*/
/*.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0rem;
    bottom: 3rem;
    font-size: 1.8rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2.8em;
    background: var(--color-primary);
}*/

/*----------------My_photo-------------------*/

/*.me {
    background-image: linear-gradient(
    135deg,
    #172440,
    #3b71b8,
    #0c4288,
    #172440);
    background-size: 500%;
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    border-radius: 9rem 9rem 0 0;
    border: 0.4px solid floralwhite;
    overflow: hidden;
    padding: 0rem 0rem 0.5rem 0.5rem;
    animation: bg-animation 10s infinite alternate;
    display: none;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.me img {
    padding-top: 4rem;
}*/

/*-----------------SCROLL_DOWN------------------*/
/*.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.8rem;
}

.blue {
    color: var(--color-blue);
}*/

/*>>__TABLETS------------------Media Queries1----------------*/
@media screen and (max-width: 1024px) {
    /*header {
        height: 68vh;
    }*/

    /*-----------------Header_Socials_ICONS-------------------*/
  /* .header__socials { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0rem;
    bottom: 1rem;
}*/

    /*.me img {
      padding-top: 2rem;
    } */
    .typo span {
        font-size: 2.6rem;
    }

    .main .resume {
        margin-top: 20rem;
    }

}

/*>>__MOBILES------------------Media Queries2----------------*/
@media screen and (max-width: 600px) {
   /* header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        border: 1.6px solid tomato;
        border: none;
        outline: none;
        border-radius: 0.6rem;
        border: 0.3px solid #e2e2e2;
        height: 25rem;
    }*/

    video {
        /* height: 90vh; */
        width: 100vw;
        object-fit: content;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
    }

    .typo {
        display: inline;
        padding: 0.8rem;
    }
    
    .typo span {
        font-size: 1.5rem;
        font-family: Verdana;

        color: moccasin;
        font-weight: 450;
    }

    .main .resume {
        width: 100px;
        height: 40px;
        margin-top: 10rem;

        transform: translateX(-5%);
        border: 1.8px solid #fff;
        border-radius: 0.2rem;
    }

    .main .resume a {
        font-size: 0.6rem;
    }

    .resume .btn {
        padding: 0.6rem 1rem;
    }

    .scroll_down {
        height: 55px;
        width: 25px;
        border: 2px solid #dfdced;
        transform: translateX(-10%);
        bottom: 10rem;
    }

    .scroll_down:before,
    .scroll_down:after {
        height: 8px;
        width: 8px;

        border: 1.6px solid lightblue;

        border-top: transparent;
        border-left: transparent;
    }

    .scroll_down a {
        font-size: 3rem;
    }

}


