footer {
    /* background: rgb(130, 187, 208); */

            /* ff 3.6+ */
    background:-moz-linear-gradient(180deg, rgba(146, 161, 213, 1) 0%, rgba(22, 44, 103, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(180deg, rgba(146, 161, 213, 1) 0%, rgba(22, 44, 103, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(180deg, rgba(146, 161, 213, 1) 0%, rgba(22, 44, 103, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162C67', endColorstr='#92A1D5', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(180deg, rgba(146, 161, 213, 1) 0%, rgba(22, 44, 103, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(180deg, rgba(146, 161, 213, 1) 0%, rgba(22, 44, 103, 1) 100%);

    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}

footer a {
    color: var(--color-bg);
}

.danger {
     color: var(--color-danger);
}

.white {
    color: var(--color-white);
}

.green {
    color: var(--color-green);
}

.red {
    color: var(--color-red);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    display: inline-block;
    color: var(--color-bg);
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    /* color:  rgb(78, 8, 8); */
    /* display: flex; */
    /* flex-direction: column; */
}

.permalinks a {
    color:  rgb(78, 8, 8);
}

footer h4 {
    padding-top: 0.5rem;
    color: rgb(78, 8, 8);
}

footer h5 {
    padding-bottom: 1rem;
    /* color:  rgb(78, 8, 8); */
    color: rgb(25, 103, 103)
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    background: var(--color-bg-variant);
    /* background-image: linear-gradient(
    45deg,
    blue,
    red,
    blue); */
    /* background-size: 600%; */
    color: moccasin;
    padding: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    border: 1px solid transparent;
    font-size: 1.5rem;
    /* animation: bg-animation 5s linear infinite alternate-reverse; */
}

h3 {
    /* color: #0f5536; */
    color: #fff;
}

/* @keyframes bg-animation {
    0% {
        background-position: left;
    }

    50% {
        background-position: middle;
    }

    100% {
        background-position: right;
    }
} */

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color:  var(--color-bg);
}

/*====== News Letter ======*/
.footer__newsletter {
    width: 60%;
    display: flex;
    justify-content: center;
    /* align-items: center; */

    margin: 2rem 20rem 4rem;
    position: relative;
    overflow-x: hidden;
}

.footer__newsletter input {
    width: 100%;
    /* justify-content: center; */
    border: 0.6px solid white;
    font-size: 1.4rem;
    line-height: 22px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #f8efed;

    margin-left: 12rem;

    padding: 1.6rem 4rem;
}

.footer__newsletter button {
    width: 30%;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Poppins;
    line-height: 27px;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    color: moccasin;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-image: linear-gradient(
        145deg,
        red,
        blue,
        red);
    background-size: 400%;
    animation: bg-animation 8s linear infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    50% {
        background-position: middle;
    }

    100% {
        background-position: right;
    }
}

.footer__copyright {
    margin-bottom: 4rem;
    /* margin-bottom: 6rem; */
    /* color: var(--color-bg); */
    color: palegoldenrod;
    font-size: 1rem;

    /* border-top: 0.2px dotted #cfffde; */
}

.footer__preloader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background: red; */

    margin: 1rem 2rem;
}

.footer__preloader a {
    /* flex: 2; */
    /* color: red; */
    height: 2.5rem;
    width: 2.5rem;
    background: var(--color-primary);
    box-sizing: border-box;
    outline: none;
    border: none;
    /* border: 0.2px solid powderblue; */
    /* color: moccasin; */
    color: var(--color-bg);

    font-size: 1.1rem;
    /* font-weight: bold; */
    padding: 0.7rem 0.5rem;

    border-radius: 0.4rem;
    margin-top: 0;
    opacity: .65;
}


/*====== MEDIA QUERIES FOR TABLETS ====== */
@media screen and (max-width: 1024px) {
    .footer__newsletter {
        width: 60%;
        margin: 2rem 4rem;
    }

    .footer__newsletter input {
        font-size: 0.8rem;
        line-height: 18px;
        padding: 0.8rem 0.6rem;

        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;

        /* border: 0.8px solid powderblue; */
    }

    .footer__newsletter button {
        font-size: 0.9rem;

        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
    }

    .footer__preloader {
        margin: 0.8rem 1.5rem;
    }

    .footer__preloader a {
        height: 2.5rem;
        width: 2.5rem;

        font-size: 1.3rem;
        padding: 0.4rem 0.5rem;
    }
}


/*====== MEDIA QUERIES FOR MOBILES ======*/
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }

    h3 {
        color: #004852;
        font-size: 0.9rem;
    }

    .footer__newsletter {
        width: 80%;

        margin: 1rem;
    }

    .footer__newsletter input {
        margin-left: 2.3rem;
        padding: .4rem 1rem;

        /* border: 0.4px solid powderblue; */
    }

    .footer__newsletter button {
        font-size: 0.8rem;
        padding: 0.8rem auto;
    }

    .footer__copyright {
        font-size: 0.8rem;
    }

    .footer__preloader {
        margin-left: 4rem;
        margin-top: 4.6rem;
    }

    .footer__preloader a {
        height: 2rem;
        width: 2rem;

        font-size: 1rem;
        border-radius: 0.3rem;
        padding: 0.4rem 0.5rem;
        opacity: .6;

        margin-top: -8rem;
    }

    footer h3 {
        color: #ffffff;
        font-weight: 400;
        font-size: .8rem;
    }

}

